# Cache files
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
output/.etag-cache.json

# Environment files
.env
.venv

# Python cache
__pycache__/

# Log files
*.log

# Build artifacts
dist/
build/
*.egg-info/
